# 1. The ten best-selling video games

<figure>
<img width="300" height="300" src="video_game.jpg" style="display: block;margin-left: auto;margin-right: auto;width: 50%;">
<center>
<figure-caption>Photo by Dan Schleusser and Unsplash</figure-caption>
</center>
</figure>

Trò chơi điện tử là một ngành kinh doanh lớn. Theo Mordor Intelligence, thị trường trò chơi toàn cầu được dự đoán trị giá hơn 300 tỷ USD vào năm 2027. Với rất nhiều tiền bị đe dọa, các nhà phát hành trò chơi điện tử lớn được khuyến khích rất nhiều để tạo ra cú hích lớn tiếp theo. Nhưng trò chơi điện tử đang trở nên tốt hơn hay thời kỳ hoàng kim của trò chơi điện tử đã qua?

Trong dự án này, chúng tôi sẽ khám phá các trò chơi điện tử bán chạy nhất được tạo ra từ năm 1977 đến năm 2020. Chúng tôi sẽ so sánh liệu về doanh số bán trò chơi với các bài đánh giá của nhà phê bình và người dùng để xác định xem trò chơi điện tử có được cải thiện hay không khi thị trường trò chơi điện tử phát triển.

Tập dữ liệu của chúng tôi gồm 19600 quan sát. Người đọc có thể tìm thấy tập dữ liệu hoàn chỉnh trên [kaggle](https://www.kaggle.com/holmjason2/videogamedata).

**Games**

|   column   	|   type  	|              meaning             	  |
|:-------------:|:---------:|:-----------------------------------:|
| game       	| varchar 	| Name of the video game           	  |
| platform   	| varchar 	| Gaming platform                  	  |
| publisher  	| varchar 	| Game publisher                   	  |
| developer  	| varchar 	| Game developer                   	  |
| critic_score  | float     | Critic score according to Metacritic|
| user_score    | float     | User score according to Metacritic  |
| total_shipped | float   	| Number of copies sold (millions) 	  |
| year       	| int     	| Release year                     	  |

Hãy bắt đầu bằng cách xem xét thông tin về 10 trò chơi điện tử bán chạy nhất mọi thời đại!

In [ ]:
# Tham chiếu thư viện ipython-sql
%load_ext sql

In [51]:
# Tạo kết nối đến postgreSQL
%sql "postgresql://postgres:Quangnhatneu89@localhost:5432/MyDB"

In [55]:
%%sql
SELECT * 
FROM games
ORDER BY "Total_Shipped" DESC
LIMIT 10;

 * postgresql://postgres:***@localhost:5432/MyDB
10 rows affected.

[(1, 'Wii Sports', 'Wii', 'Nintendo', 'Nintendo EAD', 7.7, 8.0, 82.9, 2006),
 (2, 'Super Mario Bros.', 'NES', 'Nintendo', 'Nintendo EAD', 10.0, 8.2, 40.24, 1985),
 (3, 'Counter-Strike: Global Offensive', 'PC', 'Valve', 'Valve Corporation', 8.0, 7.5, 40.0, 2012),
 (4, 'Mario Kart Wii', 'Wii', 'Nintendo', 'Nintendo EAD', 8.2, 9.1, 37.32, 2008),
 (5, "PLAYERUNKNOWN'S BATTLEGROUNDS", 'PC', 'PUBG Corporation', 'PUBG Corporation', 8.6, 4.7, 36.6, 2017),
 (6, 'Minecraft', 'PC', 'Mojang', 'Mojang AB', 10.0, 7.8, 33.15, 2010),
 (7, 'Wii Sports Resort', 'Wii', 'Nintendo', 'Nintendo EAD', 8.0, 8.8, 33.13, 2009),
 (8, 'Pokemon Red / Green / Blue Version', 'GB', 'Nintendo', 'Game Freak', 9.4, 8.8, 31.38, 1998),
 (9, 'New Super Mario Bros.', 'DS', 'Nintendo', 'Nintendo EAD', 9.1, 8.1, 30.8, 2006),
 (10, 'New Super Mario Bros. Wii', 'Wii', 'Nintendo', 'Nintendo EAD', 8.6, 9.2, 30.3, 2009)]

# 2. Missing review scores

Những trò chơi điện tử bán chạy nhất được phát hành từ năm 1985 đến 2017. Đó là một phạm vi khá lớn và chúng tôi sẽ phải sử dụng dữ liệu về reviews để hiểu rõ hơn về những năm tốt nhất với trò chơi điện tử.

Đầu tiên, điều quan trọng là khám phá những hạn chế của cơ sở dữ liệu của chúng tôi. Một thiếu sót lớn là không có bất kỳ dữ liệu đánh giá nào cho một số trò chơi. Sau đây chúng tôi sẽ tìm số trò chơi điện tử mà không có bất kỳ dữ liệu đánh giá nào.

In [57]:
%%sql
SELECT COUNT(*)
FROM games
WHERE ("Critic_Score" is null) and ("User_Score" is null);

 * postgresql://postgres:***@localhost:5432/MyDB
1 rows affected.

[(9616,)]

# 3. Years that video game critics loved

Có rất nhiều cách để đo lường những năm tốt nhất cho trò chơi điện tử! Hãy bắt đầu với những gì các nhà phê bình nghĩ. Dưới đây là danh sách 10 năm có số điểm trung bình từ các nhà phê bình là cao nhất.

In [63]:
%%sql
select "Year", avg("Critic_Score") as avg_critic_score
from games
group by "Year"
having avg("Critic_Score") is not null
order by avg_critic_score desc
limit 10;

 * postgresql://postgres:***@localhost:5432/MyDB
10 rows affected.

[(1984, 9.5),
 (1992, 9.125),
 (1982, 9.0),
 (1994, 8.716666666666667),
 (1990, 8.633333333333333),
 (1991, 8.4875),
 (2020, 8.255555555555553),
 (1993, 8.02727272727273),
 (2019, 7.883783783783784),
 (1989, 7.659999999999999)]

# 4. Was 1982 and 1984 really that great?

Phạm vi của những năm tuyệt vời theo đánh giá của các nhà phê bình kéo dài từ năm 1982 đến năm 2020.

Tuy nhiên, giá trị của năm 1982 và 1984 có vẻ đặc biệt khó hiểu. Có thể không có nhiều trò chơi điện tử trong bộ dữ liệu của chúng tôi được phát hành trong những năm này.

Chúng tôi sẽ kiểm tra xem năm 1982 và năm 1984 có thực sự là một năm tuyệt vời cho trò chơi điện tử hay không bằng cách lọc ra những năm có số lượng trò chơi điện tử phát hành lớn hơn 20.

In [70]:
%%sql
select "Year", avg("Critic_Score") as avg_critic_score, count(*) as num_games
from games
group by "Year"
having (avg("Critic_Score") is not null) and (count(*) > 20)
order by avg_critic_score desc
limit 10;

 * postgresql://postgres:***@localhost:5432/MyDB
10 rows affected.

[(1992, 9.125, 40),
 (1982, 9.0, 47),
 (1994, 8.716666666666667, 104),
 (1990, 8.633333333333333, 21),
 (1991, 8.4875, 34),
 (1993, 8.02727272727273, 61),
 (2019, 7.883783783783784, 63),
 (2014, 7.539015151515145, 755),
 (2013, 7.459154929577464, 639),
 (2015, 7.409318996415772, 759)]

# 5. Years that dropped off the critics' favorites list

Cột num_games thuyết phục chúng tôi rằng danh sách mới của chúng tôi về các trò chơi hàng đầu của các nhà phê bình phản ánh những năm có khá nhiều trò chơi được đánh giá tốt thay vì chỉ một vài trò chơi thành công. Nhưng năm nào bị loại khỏi danh sách do có 20 trò chơi được đánh giá trở xuống? Chúng tôi sẽ xác định chúng để một ngày nào đó chúng tôi có thể theo dõi thêm các bài đánh giá trò chơi trong những năm đó và xác định xem chúng có thể được coi là những năm phát hành trò chơi điện tử thành công hay không.

In [71]:
%%sql
with top_critic_years as (
    select "Year", avg("Critic_Score") as avg_critic_score
    from games
    group by "Year"
    having avg("Critic_Score") is not null
    order by avg_critic_score desc
    limit 10),
top_critic_years_more_than_twenty_games as (
    select "Year", avg("Critic_Score") as avg_critic_score, count(*) as num_games
    from games
    group by "Year"
    having (avg("Critic_Score") is not null) and (count(*) > 20)
    order by avg_critic_score desc
    limit 10)
(select "Year", "avg_critic_score"
from top_critic_years)
except
(select "Year", "avg_critic_score"
from top_critic_years_more_than_twenty_games)
order by "avg_critic_score" desc

 * postgresql://postgres:***@localhost:5432/MyDB
3 rows affected.

[(1984, 9.5), (2020, 8.255555555555553), (1989, 7.659999999999999)]

# 6. Years video game players loved

Dựa trên công việc của chúng tôi trong nhiệm vụ trên, có vẻ như năm 1982 và đầu những năm 1990 có thể được coi là thời kỳ hoàng kim của trò chơi điện tử chỉ dựa trên điểm số của nhà phê bình, nhưng chúng tôi cần thu thập thêm dữ liệu về trò chơi và đánh giá để phân tích thêm.

Giờ chúng tôi sẽ chuyển sang xem xét ý kiến của một nhóm người quan trọng khác, người chơi! Để bắt đầu, chúng tôi tạo một truy vấn rất giống với truy vấn mà chúng tôi đã sử dụng ở phần 4, ngoại trừ truy vấn này sẽ xem xét điểm trung bình của user_score theo năm thay vì điểm trung bình của nhà phê bình.

In [72]:
%%sql
select "Year", avg("User_Score") as avg_user_score, count(*) as num_games
from games
group by "Year"
having (avg("User_Score") is not null) and (count(*) > 20)
order by avg_user_score desc
limit 10;

 * postgresql://postgres:***@localhost:5432/MyDB
10 rows affected.

[(1993, 9.5, 61),
 (1990, 9.3, 21),
 (1997, 9.25, 264),
 (1999, 9.1, 359),
 (1991, 8.8, 34),
 (1998, 8.8, 342),
 (1994, 8.8, 104),
 (2010, 8.781818181818181, 1401),
 (2007, 8.573076923076922, 1236),
 (2009, 8.568181818181817, 1616)]

# 7. Years that both players and critics loved

Chúng tôi đã có danh sách mười năm hàng đầu theo cả đánh giá của nhà phê bình và đánh giá của người dùng. Có năm nào xuất hiện trên cả hai bảng không? Nếu vậy, những năm đó chắc chắn sẽ là những năm tuyệt vời!

In [75]:
%%sql
with top_critic_years_more_than_twenty_games as (
    select "Year", avg("Critic_Score") as avg_critic_score, count(*) as num_games
    from games
    group by "Year"
    having (avg("Critic_Score") is not null) and (count(*) > 20)
    order by avg_critic_score desc
    limit 10),
top_user_years_more_than_twenty_games as (
    select "Year", avg("User_Score") as avg_user_score, count(*) as num_games
    from games
    group by "Year"
    having (avg("User_Score") is not null) and (count(*) > 20)
    order by avg_user_score desc
    limit 10)
(select "Year"
from top_critic_years_more_than_twenty_games)
intersect
(select "Year"
from top_user_years_more_than_twenty_games)

 * postgresql://postgres:***@localhost:5432/MyDB
4 rows affected.

[(1993,), (1990,), (1994,), (1991,)]

# 8. Sales in the best video game years

Có vẻ như chúng tôi đã có bốn năm mà cả người dùng và các nhà phê bình đều đồng ý là nằm trong top 10! Có nhiều cách khác để đo lường những năm tốt nhất cho trò chơi điện tử, nhưng bây giờ chúng tôi sẽ chú ý với những năm này. Chúng tôi biết rằng các nhà phê bình và người chơi thích những năm này, nhưng còn các nhà sản xuất trò chơi điện tử thì sao? Doanh số bán hàng có tốt không? Hãy cùng tìm hiểu.

In [82]:
%%sql
with top_critic_years_more_than_twenty_games as (
    select "Year", avg("Critic_Score") as avg_critic_score, count(*) as num_games
    from games
    group by "Year"
    having (avg("Critic_Score") is not null) and (count(*) > 20)
    order by avg_critic_score desc
    limit 10),
top_user_years_more_than_twenty_games as (
    select "Year", avg("User_Score") as avg_user_score, count(*) as num_games
    from games
    group by "Year"
    having (avg("User_Score") is not null) and (count(*) > 20)
    order by avg_user_score desc
    limit 10)
select g."Year", sum(g."Total_Shipped") as total_games_sold
from games as g
where g."Year" in 
    (select "Year"
    from top_critic_years_more_than_twenty_games
    intersect
    select "Year"
    from top_user_years_more_than_twenty_games)
group by g."Year" 
order by total_games_sold desc

 * postgresql://postgres:***@localhost:5432/MyDB
4 rows affected.

[(1993, 64.18999999999998),
 (1994, 62.969999999999985),
 (1991, 60.63999999999999),
 (1990, 52.4)]